.cart-container {
  background-color: #a9a9a9;
  width: 80%;
  margin: auto;
  padding: 20px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.empty-cart {
  text-align: center;
  padding: 20px;
}

.cart-is-empty {
  font-size: 1.5em;
  margin-bottom: 20px;
}

.return-to-shop {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 5px;
}

h2 {
  text-align: center;
  margin-bottom: 20px;
}

.cart-items {
  margin-bottom: 20px;
}

.cart-item {
  display: flex;
  align-items: center;
  border-bottom: 1px solid #ddd;
  padding: 15px 0;
}

.product-image {
  width: 100px;
  height: 100px;
  margin-right: 20px;
  object-fit: cover;
}

.product-details p {
  margin: 5px 0;
}

.cart-total {
  text-align: right;
  font-size: 1.2em;
}

.freeShipping {
  color: black;
  font-weight: bold;
}
