h1 {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  text-align: center;
  margin-top: 50px;
}
p {
  font-family: Georgia, "Times New Roman", Times, serif;
  text-align: center;
  margin-top: 50px;
}
body {
  background-color: dimgrey;
}
